@import "../../assets/colors/colors.css";
@import "../../assets/fonts/fonts.css";

.search-input {
  color: var(--primary);
  background-color: var(--nearly-white);
  width: 30%;
  height: 25px;
  margin: 10px auto;
  border-radius: 20px;
  padding: 5px 20px;
  border: 2px solid var(--primary);
  transition: 0.3s;
}

.search-input:focus {
  outline: none;
}

.search-input:hover {
  border: none;
  border-radius: 0;
  background-color: var(--nearly-white);
  border-bottom: 2px solid var(--primary);
}
