@import "../../assets/colors/colors.css";
@import "../../assets/fonts/fonts.css";

button {
  color: var(--dark-green);
  border: none;
  background-color: var(--light-brown);
  font-size: 350%;
  padding: 30% 5px;
}

button:focus {
  outline: none;
  color: black;
}

button:hover {
  font-size: 250%;
  cursor: pointer;
}
