@import "../../assets/colors/colors.css";
@import "../../assets/fonts/fonts.css";

.image-card-view {
  background-color: white;
  padding: 10px 20px;
  flex: 0 1 22%;
  margin-bottom: 2%;
  border-radius: 2%;
  box-shadow: 0px 3px 14px rgba(0, 0, 29, 0.12);
  width: 40rem;
  height: 40rem;
}

.image-card-view:hover {
  cursor: pointer;
}

.close-button {
  text-align: end;
  font-weight: 3px;
  font-size: 20px;
}
