.adding-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.resize-card {
  width: 40rem;
  height: 30rem;
  object-fit: cover;
}

#input[type="file"] {
  display: none;
}

.input-description {
  margin-top: 10px;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid var(--primary);
}

.input-description:focus {
  outline: none;
}
