.resize-card {
  width: 40rem;
  height: 30rem;
  object-fit: cover;
}

.card-view-body {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-icon {
  color: var(--grey-brown);
  background: white;
  margin: 0;
  padding: 0;
  font-size: 200%;
  margin-left: auto;
}

.card-icon:hover {
  font-size: 200%;
  cursor: pointer;
  color: var(--dark-brown);
}

.is-favorite {
  color: var(--dark-brown);
}
