@import "../../assets/colors/colors.css";
@import "../../assets/fonts/fonts.css";

.image-card {
  background-color: white;
  padding: 10px;
  flex: 0 1 22%;
  margin-bottom: 2%;
  border-radius: 2%;
  box-shadow: 0px 3px 14px rgba(0, 0, 29, 0.12);
  /* transition: 0.2s ease; */
}

.image-card:hover {
  cursor: pointer;
}

.resize {
  width: 100%;
  height: 11.5rem;
  object-fit: cover;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.card-body > div {
  color: var(--grey-brown);
  background: white;
  margin: 0;
  padding: 0;
  font-size: 200%;
}

.card-body > div:hover {
  font-size: 200%;
  cursor: pointer;
  color: var(--dark-brown);
}

.isFavo {
  color: var(--dark-brown);
}
