.log-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.log-in > button {
  font-size: 14px;
  margin: 10px;
  padding: 10px;
}

.log-in > input {
  margin-top: 10px;
}
