@import "./assets/colors/colors.css";
@import "./assets/fonts/fonts.css";

.container {
  height: 100vh;
  display: flex;
  overflow: auto;
  background: var(--nearly-white);
}

.side-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
  height: 100%;
}

.pop-up {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
